# Network config file dumped by worm_sim
# Traffic configurations
@NODE	0
trace_file 0.trace
@NODE	1
trace_file 1.trace
@NODE	2
trace_file 2.trace
@NODE	3
trace_file 3.trace
@NODE	4
trace_file 4.trace
@NODE	5
trace_file 5.trace
@NODE	6
trace_file 6.trace
@NODE	7
trace_file 7.trace
@NODE	8
trace_file 8.trace
@NODE	9
trace_file 9.trace
@NODE	10
trace_file 10.trace
@NODE	11
trace_file 11.trace
@NODE	12
trace_file 12.trace
@NODE	13
trace_file 13.trace
@NODE	14
trace_file 14.trace
@NODE	15
trace_file 15.trace
